header{
    background-color: cadetblue;
    width: 1000px;
    height: auto;
    
}
img{
    width: 100px;
    height: 100px;
}
nav{
    background-color: crimson;
    width: 500px;
    height: auto;
}
aside{
    background-color: darkkhaki;
    width: 300px;
    height: 250px;
}
main{
    background: plum;
    width: 500px;
    height: 450px;
}
footer{
    background-color: slateblue;
    width: 1000px;
    height: 90px;
}